*{margin:0;padding:0;}
body{background: white url(../images/wood.jpg);}
/*
body,p,ol,td{font-size:13px;line-height:18px;}
h1{font-size:2em;color:#CC3300;padding:15px;clear:left;}
h2,h3,h4{color:#cc3300;}
h1+a{margin:10px 0 10px 25px !important;background-color:inherit !important;}
pre{background-color:#eee;padding:10px;font-size:11px;}
a{color:#000;}
a:visited{color:#666;}
a:hover{color:#00628B;}*/

@font-face {
	font-family: 'DakotaRegular';
	src: url('../fonts/dakota_regular-webfont.eot');
	src: local('☺'), url('../fonts/dakota_regular-webfont.woff') format('woff'), url('../fonts/dakota_regular-webfont.ttf') format('truetype'), url('../fonts/dakota_regular-webfont.svg#webfontBZv7aMxm') format('svg');
	font-weight: normal;
	font-style: normal;
}

#wrapper{min-width:790px;min-height:600px;}
#inner{
	position:relative; 
	width:790px; 
	margin:10px auto 5px auto; 
	background: url(../images/notebook.png) no-repeat; 
	padding:0px 0px; 
	height:600px; 
	z-index:99;
}

#journal{
	position:relative;
	width:790px; 
	background: url(../images/notebook.png) no-repeat; 
	height:580px; 
	z-index:99;
}

#site-design{
	position:absolute;
	top:70px;
	left:850px;
	z-index:0;
}

#envelope{
	position:absolute;
	top:-10px;
	left:-200px;
	z-index:-2;
}

#about-site{
	position:absolute;
	bottom:-120px;
	left:-190px;
	z-index:-1;
}

#buttons{margin:15px auto 0px auto; width:790px; height:565px; position:relative; float:left; z-index:100;}
#buttons li{list-style-type:none;display:inline;padding-right:0;line-height:35px;}
#buttons li a{text-decoration:none;border:none;}
#buttons ul {margin:0 0;}
#buttons p{font-size:0.8em;text-align:right;margin-right:130px;}


#journal-page{
	z-index:100;
	margin:15px auto 0px auto;
	width:790px;
	height:565px;
	position:relative;
	float:left;
	font-family: DakotaRegular, cursive;
}
#journal-page p{
	font-size:10.8px;
	line-height:22px;
	text-align:left;
	color: #212426;
}
#journal-page h1{
	margin:0;
	padding:0;
	padding-top:80px;
	margin-left:15px;
}
#journal-page h2{
	margin:0;
	padding:0;
	margin-left:15px;
}

#back-button{
	position:relative;
	height:22px;
	width:345px;
	top:3px;
	left:40px;
}
#back-button a{
	font-weight:bold;
}
#back-button img{
	position:relative;
	top:4px;
	padding-right:3px;
}

.paragraph-title{
	font-weight:bold;
}

#left-page{
	position:relative;
	float:left;
	width:345px;
	height:450px;
	margin-left:42px;
	margin-top:73px;
	padding-right:17px;
	overflow:hidden;
	z-index:100;
}
#right-page{
	position:relative;
	float:left;
	width:330px;
	margin-top:49px;
	margin-left:20px;
	overflow:hidden;
	z-index:100;
}

#collected{
	position:relative;
	top:-240px;
	left:35px;
}
#twitter{
	position:relative;
	top:-175px;
	left:-90px;
}
#poland{
	position:relative;
	top:-146px;
	left:-58px;
}
#twitter_div{
	position:absolute;
	top:370px;
	left:480px;
	z-index:102;
	width:190px;
	height:125px;
	line-height:20px;
	font-family: DakotaRegular, cursive;
	font-size:11px;
}
#twitter_div ul{
	list-style:none;
}
#twitter_div li{
	color:#191970;
	line-height:16px;
}
#twitter_div a{
	color:#000033;
}
#baking{
	position:relative;
	top:5px;
	left:30px;
}
#graphics{
	position:relative;
	top:-52px;
	left:31px;
}
#tweet{
	position:relative;
	top:-82px;
	left:90px;
}
#name{
	position:relative;
	top:-120px;
	left:55px;
}
#resume{
	position:relative;
	top:-96px;
	left:-178px;
}
#about{
	position:relative;
	top:-96px;
	left:-154px;
}


/* footer */
#footer {
	position:relative;
	float:left;
	margin: 5px auto; 
	width:790px; 
	font-size:8px;
	text-align: center;
}
#footer-text{
	font-family: Century Gothic, sans-serif;
	background:#6BC4FF;
	filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
	padding:2px 10px;
	font-weight:bold;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}

/* Linguistic Explorer Layout, Copyright Jillian Kozyra 2010 */
/* <=======================================*/

body,p,ol,td{font-size:13px;line-height:18px;}
h1{font-size:2.2em;color:#CC3300;padding:15px;clear:left;}
h2,h3,h4{color:#cc3300;padding:15px;clear:left;}
h1+a{margin:10px 0 10px 25px !important;background-color:inherit !important;}
pre{background-color:#eee;padding:10px;font-size:11px;}
a{color:#000;}
a:visited{color:#666;}
a:hover{color:#00628B;}


body {font-size: small;font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; margin: 0 auto;}
body{line-height:normal;}
img {border-style: none;}
a {text-decoration: none;color: #CC3300;}
a:visited {color: #AA2B00;}
#wrapper {margin: 0 auto;}
iframe #toolbar {display:none;}
iframe #wrapper {margin: 10px 20px;}



/*
#footer p{font-size:0.8em;line-height:135%;text-align:center; padding:15px 0 0 0; color:#212838;}
#footer li{list-style-type:none;color:#CC3300;font-size:0.8em;}
#footer ul{display:inline;float:left;margin:0px;padding:5px 0;}
#footer ul+ul {margin:0 0 15px 110px;}
#footer li span{color:#212838;padding-left:5px;}
*/