<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Just a note to let you know that <%= @participant.both_names %> has completed your survey <%= @survey.title%>!</p>
  </body>
</html>