<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
		<p>Hey there, <%= @participant.name %>!</p>
    <p>It would be greatly appreciated if you would take my little survey. Click the link to do so.</p>
		<p><%= link_to "Survey Url", choose_language_url(:id => @survey.id, :survey_code => @participant.survey_code) %></p>
  </body>
</html>