<div id="envelope">
	<a href="mailto:jillian.kozyra@gmail.com" onmouseover="roll_over('envelope-image','images/envelope2.png')" onmouseout="roll_over('envelope-image','images/envelope.png')" >
		<%= image_tag "/images/envelope.png", :id => "envelope-image", :alt => "Email"%>
	</a>
</div>
<div id="site-design">
	<%= image_tag "/images/site-design.png", :id => "site-design-image", :alt => "Site Design"%>
</div>
<div id="about-site">
	<%= image_tag "/images/about-site.png", :id => "about-site-image", :alt => "About the Site"%>
</div>
<div id="footer">
	<span id="footer-text">&copy; Jillian Kozyra 2012 - Site Design and Programming by Jillian Kozyra</span>
</div>