@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --base-50: 241 243 244;
    --base-100: 227 230 232;
    --base-200: 199 204 209;
    --base-300: 171 178 186;
    --base-400: 141 157 165;
    --base-500: 112 133 143;
    --base-600: 85 94 104;  /* default */
    --base-700: 69 76 84;
    --base-800: 46 51 56;
    --base-900: 23 26 28;
    --base-950: 11 13 14;
    --accent-50: 250 246 234;
    --accent-100: 245 237 214;
    --accent-200: 235 220 173;
    --accent-300: 228 210 148; /* default */
    --accent-400: 216 185 90;
    --accent-500: 207 167 48;
    --accent-600: 165 134 39;
    --accent-700: 124 100 29;
    --accent-800: 83 67 19;
    --accent-900: 42 34 9;
    --accent-950: 21 17 4;
    --green-light: 192 204 219;
    --base-dark-50: 10 13 16;
    --base-dark-100: 19 26 32;
    --base-dark-200: 39 52 63;
    --base-dark-300: 59 78 94;
    --base-dark-400: 79 104 125;
    --base-dark-500: 98 128 157;
    --base-dark-600: 130 154 176;
    --base-dark-700: 161 179 196;
    --base-dark-800: 192 204 219; /* default */
    --base-dark-900: 223 229 236;
    --base-dark-950: 239 242 245;
    --accent-dark-50: 9 16 14;
    --accent-dark-100: 18 33 29;
    --accent-dark-200: 36 66 58;
    --accent-dark-300: 54 99 87;
    --accent-dark-400: 72 132 116;
    --accent-dark-500: 93 168 14; /* default */
    --accent-dark-600: 123 183 167;
    --accent-dark-700: 156 201 189;
    --accent-dark-800: 189 219 211;
    --accent-dark-900: 222 237 233;
    --accent-dark-950: 238 246 244;
    --yellow-dark: 228 210 148;
  }

:root {
  --foreground-rgb: 85 94 104;
  --background-start-rgb: 242, 242, 242;
  --background-end-rgb: 217, 217, 217;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 192 204 219;
    --background-start-rgb: 23, 25, 28;
    --background-end-rgb: 46, 50, 56;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
