@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-hanken-grotesk);
  --font-serif: var(--font-martian-mono);
  --font-mono: var(--font-martian-mono);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --color-primary-50: rgb(var(--base-50));
  --color-primary-100: rgb(var(--base-100));
  --color-primary-200: rgb(var(--base-200));
  --color-primary-300: rgb(var(--base-300));
  --color-primary-400: rgb(var(--base-400));
  --color-primary-500: rgb(var(--base-500));
  --color-primary-600: rgb(var(--base-600));
  --color-primary-700: rgb(var(--base-700));
  --color-primary-800: rgb(var(--base-800));
  --color-primary-900: rgb(var(--base-900));
  --color-primary-950: rgb(var(--base-950));
  --color-primary-50X: rgb(var(--base-50X));
  --color-primary-100X: rgb(var(--base-100X));
  --color-primary-200X: rgb(var(--base-200X));
  --color-primary-300X: rgb(var(--base-300X));
  --color-primary-400X: rgb(var(--base-400X));
  --color-primary-500X: rgb(var(--base-500X));
  --color-primary-600X: rgb(var(--base-600X));
  --color-primary-700X: rgb(var(--base-700X));
  --color-primary-800X: rgb(var(--base-800X));
  --color-primary-900X: rgb(var(--base-900X));
  --color-primary-950X: rgb(var(--base-950X));

  --color-accent-50: rgb(var(--accent-50));
  --color-accent-100: rgb(var(--accent-100));
  --color-accent-200: rgb(var(--accent-200));
  --color-accent-300: rgb(var(--accent-300));
  --color-accent-400: rgb(var(--accent-400));
  --color-accent-500: rgb(var(--accent-500));
  --color-accent-600: rgb(var(--accent-600));
  --color-accent-700: rgb(var(--accent-700));
  --color-accent-800: rgb(var(--accent-800));
  --color-accent-900: rgb(var(--accent-900));
  --color-accent-950: rgb(var(--accent-950));
  --color-accent-50X: rgb(var(--accent-50X));
  --color-accent-100X: rgb(var(--accent-100X));
  --color-accent-200X: rgb(var(--accent-200X));
  --color-accent-300X: rgb(var(--accent-300X));
  --color-accent-400X: rgb(var(--accent-400X));
  --color-accent-500X: rgb(var(--accent-500X));
  --color-accent-600X: rgb(var(--accent-600X));
  --color-accent-700X: rgb(var(--accent-700X));
  --color-accent-800X: rgb(var(--accent-800X));
  --color-accent-900X: rgb(var(--accent-900X));
  --color-accent-950X: rgb(var(--accent-950X));

  --color-primary-dark-50: rgb(var(--base-dark-50));
  --color-primary-dark-100: rgb(var(--base-dark-100));
  --color-primary-dark-200: rgb(var(--base-dark-200));
  --color-primary-dark-300: rgb(var(--base-dark-300));
  --color-primary-dark-400: rgb(var(--base-dark-400));
  --color-primary-dark-500: rgb(var(--base-dark-500));
  --color-primary-dark-600: rgb(var(--base-dark-600));
  --color-primary-dark-700: rgb(var(--base-dark-700));
  --color-primary-dark-800: rgb(var(--base-dark-800));
  --color-primary-dark-900: rgb(var(--base-dark-900));
  --color-primary-dark-950: rgb(var(--base-dark-950));
  --color-primary-dark-50X: rgb(var(--base-dark-50X));
  --color-primary-dark-100X: rgb(var(--base-dark-100X));
  --color-primary-dark-200X: rgb(var(--base-dark-200X));
  --color-primary-dark-300X: rgb(var(--base-dark-300X));
  --color-primary-dark-400X: rgb(var(--base-dark-400X));
  --color-primary-dark-500X: rgb(var(--base-dark-500X));
  --color-primary-dark-600X: rgb(var(--base-dark-600X));
  --color-primary-dark-700X: rgb(var(--base-dark-700X));
  --color-primary-dark-800X: rgb(var(--base-dark-800X));
  --color-primary-dark-900X: rgb(var(--base-dark-900X));
  --color-primary-dark-950X: rgb(var(--base-dark-950X));

  --color-accent-dark-50: rgb(var(--accent-dark-50));
  --color-accent-dark-100: rgb(var(--accent-dark-100));
  --color-accent-dark-200: rgb(var(--accent-dark-200));
  --color-accent-dark-300: rgb(var(--accent-dark-300));
  --color-accent-dark-400: rgb(var(--accent-dark-400));
  --color-accent-dark-500: rgb(var(--accent-dark-500));
  --color-accent-dark-600: rgb(var(--accent-dark-600));
  --color-accent-dark-700: rgb(var(--accent-dark-700));
  --color-accent-dark-800: rgb(var(--accent-dark-800));
  --color-accent-dark-900: rgb(var(--accent-dark-900));
  --color-accent-dark-950: rgb(var(--accent-dark-950));
  --color-accent-dark-50X: rgb(var(--accent-dark-50X));
  --color-accent-dark-100X: rgb(var(--accent-dark-100X));
  --color-accent-dark-200X: rgb(var(--accent-dark-200X));
  --color-accent-dark-300X: rgb(var(--accent-dark-300X));
  --color-accent-dark-400X: rgb(var(--accent-dark-400X));
  --color-accent-dark-500X: rgb(var(--accent-dark-500X));
  --color-accent-dark-600X: rgb(var(--accent-dark-600X));
  --color-accent-dark-700X: rgb(var(--accent-dark-700X));
  --color-accent-dark-800X: rgb(var(--accent-dark-800X));
  --color-accent-dark-900X: rgb(var(--accent-dark-900X));
  --color-accent-dark-950X: rgb(var(--accent-dark-950X));

  --color-green-light: rgb(var(--green-light));
  --color-yellow-dark: rgb(var(--yellow-dark));
  --color-background-dark-start: rgb(var(--background-dark-start));
  --color-background-dark-end: rgb(var(--background-dark-end));
  --color-background-light-start: rgb(var(--background-light-start));
  --color-background-light-end: rgb(var(--background-light-end));
  --color-foreground-light: rgb(var(--foreground-light));
  --color-foreground-dark: rgb(var(--foreground-dark));
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --base-50: 241 243 244;
    --base-100: 227 230 232;
    --base-200: 199 204 209;
    --base-300: 171 178 186;
    --base-400: 141 157 165;
    --base-500: 112 133 143;
    --base-600: 85 94 104; /* default */
    --base-700: 69 76 84;
    --base-800: 46 51 56;
    --base-900: 23 26 28;
    --base-950: 11 13 14;
    --accent-50: 250 246 234;
    --accent-100: 245 237 214;
    --accent-200: 235 220 173;
    --accent-300: 228 210 148; /* default */
    --accent-400: 216 185 90;
    --accent-500: 207 167 48;
    --accent-600: 165 134 39;
    --accent-700: 124 100 29;
    --accent-800: 83 67 19;
    --accent-900: 42 34 9;
    --accent-950: 21 17 4;
    --green-light: 93 168 146;
    --base-dark-50: 10 13 16;
    --base-dark-100: 19 26 32;
    --base-dark-200: 39 52 63;
    --base-dark-300: 59 78 94;
    --base-dark-400: 79 104 125;
    --base-dark-500: 98 128 157;
    --base-dark-600: 130 154 176;
    --base-dark-700: 161 179 196;
    --base-dark-800: 192 204 219; /* default */
    --base-dark-900: 223 229 236;
    --base-dark-950: 239 242 245;
    --accent-dark-50: 9 16 14;
    --accent-dark-100: 18 33 29;
    --accent-dark-200: 36 66 58;
    --accent-dark-300: 54 99 87;
    --accent-dark-400: 72 132 116;
    --accent-dark-500: 93 168 146; /* default */
    --accent-dark-600: 123 183 167;
    --accent-dark-700: 156 201 189;
    --accent-dark-800: 189 219 211;
    --accent-dark-900: 222 237 233;
    --accent-dark-950: 238 246 244;
    --yellow-dark: 228 210 148;
    --background-dark-start: 23 25 28;
    --background-dark-end: 46 50 56;
    --background-light-start: 245 245 245;
    --background-light-end: 255 255 255;
    --foreground-light: 85 94 104;
    --foreground-dark: 46 50 56;
  }
}
