<div id="journal">

	<div id="journal-page">
		<div id="left-page">
			<p class="paragraph-title">Hello! Privet! Cześć!</p>
			<p>Welcome to the portal to my web presence. Here you can find links to all of my blogs and other assorted personal
				sites, as well as some basic information about myself.
			</p>
			<p>&nbsp;</p>
			<p class="paragraph-title">Me in a Nutshell</p>
			<p>I am a 2010 graduate of NYU, where I majored in Computer Science and Russian and dabbled in Physics and Maths. I
				am also a 2012 graduate of Jagiellonian University (in Kraków), where I received a Masters in Central and Eastern European Studies and wrote  my dissertation on coalition formation in the Ukrainian parliament since 2002. Some of my favourite things are international affairs and politics, baking,
				embroidery, travelling, outdoor adventuring, football/soccer, making websites, fencing and puppies, especially <%= link_to "mine", "http://facebook.com/sofsac" %> (who doesn't love 
				puppies?). I also enjoy music, and I play Irish fiddle and tin whistle.
		</div>
		
		<div id="back-button"><%= link_to image_tag("/images/back-arrow.png") + "Home", root_url %></div>
		
		<div id="right-page">
			<p class="paragraph-title">How Did I Get Here???</p>
			<p>Along the way, I've had a few adventures, having most recently lived in northwest Donegal, Ireland. My mother loves to travel, which is probably a large part of why I was so keen
				to go abroad for grad school. It also led to an interest in languages and linguistics, resulting in my first long-term programming project,
				<a href="http://linguisticexplorer.org">Linguistic Explorer</a>, an NYU database, where I learned Ruby on Rails. I also had the opportunity
				to be an Extreme Blue intern with IBM in Raleigh, NC (my first trip south of the Mason-Dixon Line for an extended period of time), where my team
				built <a href="http://www.researchlabs.ibm.com/">IBM Research Labs</a> (again, the public-facing part is done in Rails). 
			</p>
			<p>&nbsp;</p>
			<p class="paragraph-title">Et Quo Vadim?</p>
			<p>I am currently working as a freelance Rails developer, while also building my company, <a href="http://www.stablerenters.com">StableRenters</a>. I am open to new opportunities and can be contacted via the information listed on my resume.</p>
		</div>
	</div>
</div>
