<div id="journal">

	<div id="journal-page">
		<div id="left-page">
			<p class="paragraph-title">Hello! Privet! Cześć!</p>
			<p>Welcome to the portal to my web presence. Here you can find links to all of my blogs and other assorted personal
				sites.
			</p>
			<p>&nbsp;</p>
			<p class="paragraph-title">Me in a Nutshell</p>
			<p>I am a 2010 graduate of New York University, where I majored in Computer Science and Russian and dabbled in Physics and Maths. I
				will be a 2012 graduate of Jagiellonian University (in Kraków), where I'll be doing Central and Eastern European Studies for the next
				year or so. I'm writing my dissertation on coalition formation in the Ukrainian parliament since 1998. Some of my favourite things are international affairs and politics, baking, music listening and performance,
				embroidery, travelling, outdoor adventuring, football/soccer, making websites, fencing and puppies, especially <%= link_to "mine", "http://facebook.com/sofsac" %> (who doesn't love 
				puppies?). Reading any or all of <a href="http://jilliankozyra.collected.info">my blogs</a> or a glance at my <a href="http://twitter.com/jilliankozyra">
					Twitter feed</a> should give you further insights into my ideas and me.</p>
		</div>
		
		<div id="back-button"><%= link_to image_tag("/images/back-arrow.png") + "Home", root_url %></div>
		
		<div id="right-page">
			<p class="paragraph-title">How Did I Get Here???</p>
			<p>Along the way, I've had a few adventures. My mother loves to travel, which is probably a large part of why I was so keen
				to go abroad for grad school. It also led to an interest in languages and linguistics, resulting in my first long-term programming project,
				<a href="http://linguisticexplorer.org">Linguistic Explorer</a>, an NYU database, where I learned Ruby on Rails. I also had the opportunity
				to be an Extreme Blue intern with IBM in Raleigh, NC (my first trip south of the Mason-Dixon Line for an extended period of time), where my team
				built <a href="http://www.researchlabs.ibm.com/">IBM Research Labs</a> (again, the public-facing part is done in Rails). 
			</p>
			<p>&nbsp;</p>
			<p class="paragraph-title">Et Quo Vadim?</p>
			<p>I'm attempting to complete my dissertation at the moment. After 
			</p>
		</div>
	</div>
</div>
