<script>$('#notification-text').delay(5000).fadeOut(400);</script>

<div id="page-title">
	<h1>Jillian Kozyra's Surveys</h1>
</div>

<% if @notification_text %>
	<div id="notification-text">
		<h3><%= @notification_text %></h3>
	</div>
<% end %>

<div id="survey-content">
	<h2>Welcome to Jillian's survey page</h2>
</div>


