<div id="page-title">
	<h1>Surveys</h1>
</div>

<div id="table-div">
<table>
  <tr>
    <th>Title</th>
    <th class="narrow-col"></th>
    <th class="narrow-col"></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= link_to survey.title, survey %></td>
    <td class="narrow-col"><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td class="narrow-col"><%= link_to 'Destroy', survey, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Survey', new_survey_path %>
</div>
