/* 
POSSIBLE COLOURS
light green: 53976D
light blue: C9E2FF
light tan: FFFFD6
darker tan: E8D3B7
light mauve: FFE3E7

dark grey: 333333
dark green: 005655
really light green: DDEEDD
sand: EBE2D0
pale sand: FEFAF1
*/


*{margin:0;padding:0;}
body{background: #FFFAFA;}


#wrapper{min-width:790px;min-height:600px;}
#inner{
	position:relative; 
	background:#FAF5F5;
	width:790px; 
	margin:10px auto 5px auto; 
	padding:15px 20px; 
	min-height:600px; 
	z-index:99;
	border:1px solid #EBE2D0;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	font-family:Arial, sans-serif;
}

h2{
	color:#000000;
	font-family:Arial, sans-serif;
}

a{
	color:#005655;
	text-decoration:none;
}

a:hover{
	color:#53976D;
}

#page-title{
	width:792px;
	background:#005655;
	margin-left:-20px;
	padding:8px 20px;
	margin-bottom:20px;
}

#page-title h1{
	color:#DDEEDD;
	font-family: "Georgia", serif;
}


#table-div{
	font-size:12px;
}

#table-div table{
	border-spacing: 0px;
	border-collapse:collapse;
	margin-bottom:10px;
	width:790px;
}

#table-div th{
	background:#EBE2D0;
}

#table-div td{
	background:#FFFAFA;
}

#table-div td, #table-div th{
	border:1px solid black;
	margin:0px;
	padding:5px;
}

td.wide-col{
	width:300px;
}

td.med-col{
	width:90px;
}
td.narrow-col{
	width:40px;
}


/* login form */
#login-form{
	width:750px;
/*	border:1px solid #EBE2D0;*/
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	padding:10px 20px;
	background:#FFFAFA;
}

#login-form .left-col{
	float:left;
	display:inline;
}

#login-form .right-col{
	float:right;
	display:inline;
}

#login-form .wide label{
	width:80px;
	display:inline;
}
#login-form .wide input{
	width:270px;
	display:inline;
}

#login-form .narrow input{
	width:80px;
	display:inline;
}

#login-form .button {
	margin-top:5px;
	background: #53976D;
	border:none;
	padding: 4px 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: white;
	font-size: 12px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
}
#login-form .button:hover {
	background: #005655;
	color: #ccc;
}
#login-form .button:active {
	background: #005655;
}



/* survey formatting */

#intro-text h2{
	font-size:16px;
	margin:0px 0px 15px 0px;
}

#language-options{
	width:400px;
	margin:0px auto;
}

#language-options p{
}

.language-option{
	margin:0px 15px 0px 0px;
}

.survey-question{
	margin:0px 0px 20px 0px;
	display:inline-block;
	width:100%;
}

.survey-question input, .survey-question textarea{
	margin:10px 0px 10px 0px;
	width:750px;
}

.question{
	padding:0px 0px 10px 0px;
}

.answer-input{
	margin:0px 0px 0px 25px;
}

.radio-answer{
	margin:-15px 0px 0px 25px;
	padding:0px;
	display:block;
}

.radio-answer input{
	width:25px;
}

input.error, textarea.error{
	border:1px solid red;
}
label.error{
	margin-left:25px;
	color:red;
	font-size:80%;
}




/* email forms */
#form-content{
	
}

#form-content textarea{
	width:600px;
	margin:15px 0px;
}

#form-content select{
	width:250px;
	margin:15px 0px;
}

/* footer */
#footer-wrapper{
	position:relative; 
	width:790px; 
	margin:5px auto; 
}
#footer {
	position:relative;
	float:left;
	margin: 5px auto; 
	width:790px; 
	font-size:9px;
	text-align: center;
}
#footer-text{
	font-family: Century Gothic, sans-serif;
	background:#2C2B33;
	color:#A7DBA7;
	filter:alpha(opacity=60);
  /* CSS3 standard */
  opacity:0.6;
	padding:2px 10px;
	font-weight:bold;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
}