<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Jillian Kozyra</title>
	<%= stylesheet_link_tag "homepage" %>
	<%= javascript_include_tag "homepage" %>
	<script src="http://twitter.com/javascripts/blogger.js" type="text/javascript"></script>
</head>

<body>

	<div id="wrapper">
		<div id="inner">

				<%= yield %>
				
				<%= render :partial => '/shared/footer'%>
				
		</div>
	</div>

</body>
</html>

<!-- Amandine Bellerose Dactylographe Kawoszeh OldNewspaper -->